$navbar-max-width: 1140px;
$navbar-min-width: 1020px;
$navbar-padding: 10px 40px;

.navBar {
  margin: 0 auto;
  max-width: $navbar-max-width;
  min-width: $navbar-min-width;
  padding: $navbar-padding;
  position: relative;
}
